@mobile: ~"only screen and (max-width: 640px)";

@app-bg-gray: #222222;
@app-basic-lightblue: #61DAFB;

html,
body {
    margin: 0;
    padding: 0;
}

body {
    // color: skyblue;
    width: 100%;
    height: 100%;
    background: @app-bg-gray;
    color: @app-basic-lightblue;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    min-height: calc(100vh - 50px);
    background: url(../styles/images/binary.jpg) no-repeat;
    background-size: cover;

    @media @mobile {
        min-height: calc(100vh - 40px);
    }
}

header {
    width: inherit;
    height: 100%;
    background-color: black;
    margin: 10px;
    text-align: center;
    position: relative;
    border: 2px solid @app-basic-lightblue;

    @media @mobile {
        margin: 0px;
    }

    .portfolio-title {
        padding: 5px 0 0 0;

        h1 {
            color: @app-basic-lightblue;
            margin: 0;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            position: relative;

            @media @mobile {
                font-size: 1.5em;
            }

            .title-effect-lines(@titleColor: @app-basic-lightblue);

            &:active {
                transform: scale(1.02);
            }
        }
    }

    .repository-link {
        cursor: pointer;
        position: absolute;
        top: 2px;
        left: 7px;
        text-decoration: none;
        display: inline-block;
        color: #FFF;

        @media @mobile {
            font-size: 0.65em;
            top: 0;
            left: 2px;
        }

        .underline-animation(@app-basic-lightblue);
    }

    .menu-links {
        display: flex;
        overflow: hidden;
        justify-content: space-evenly;
        margin: 0;
        padding: 18px 0;
        position: relative;

        @media @mobile {
            padding: 12px 0;
        }

        &:before {
            content: "";
            position: absolute;
            width: 60%;
            background: @app-basic-lightblue;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            margin: auto;
        }

        .link-button {
            width: calc(100% / 4);
            display: inline-block;
            font-size: 1.2em;
            font-weight: bold;
            height: 41px;
            line-height: 41px;
            padding: 0;

            .button-effect-lines(@mainColor: @app-basic-lightblue, @secondaryColor: #000);

            @media @mobile {
                font-size: 0.75em;
                height: 30px;
                line-height: 30px;
            }
        }
    }

    .flag-icon {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;

        &:hover {
            transform: scale(1.1);
        }

        .flag-en {
            background: url(../styles/icons/en.svg);
        }

        .flag-fi {
            background: url(../styles/icons/fi.svg);
        }

        .flag-en,
        .flag-fi {
            display: block;
            width: 35px;
            height: 25px;
            background-repeat: no-repeat;
            background-size: 100% 100%;

            @media @mobile {
                width: calc(35px / 1.25);
                height: calc(25px / 1.25);
            }
        }
    }
}

.underline-animation(@underline-color) {
    transition: color ease 0.3s;

    &:before,
    &:after {
        content: '';
        position: absolute;
        background-color: @underline-color;
        height: 2px;
        left: 0;
        bottom: -2px;
    }

    &:before {
        width: 0%;
        transition: width ease 0.4s;
    }

    &:after {
        width: 100%;
        transition: all ease 0.6s;
    }

    &:hover {

        &:before {
            width: 100%;
        }

        &:after {
            left: 100%;
            width: 0%;
            transition: all ease 0.2s;
        }
    }
}

.title-effect-lines(@titleColor) {
    padding: 5px 10%;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 50%;
        top: 100%;
        left: 0;
        right: 0;
        margin: auto;
        height: 2px;
        background: @titleColor;
        opacity: 0;
        box-shadow: 0 0 15px 2px @titleColor;
    }

    &:after {
        bottom: 0;
        width: 0;
    }

    &:hover:before,
    &:hover:after {
        opacity: 1;
        width: 75%;
        left: 0;
        top: 0;
        margin: auto;
        transition: 800ms ease all;
    }

    &:hover:after {
        top: unset;
        bottom: 0;
    }
}

.button-effect-lines(@mainColor, @secondaryColor) {
    background: @mainColor;
    color: @secondaryColor;
    border: none;
    position: relative;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: @mainColor;
        transition: 400ms ease all;
    }

    &:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }


    &:hover {
        background: @secondaryColor;
        color: @mainColor;
    }

    &:hover:before,
    &:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }

    &.active {
        background: @secondaryColor;
        color: @mainColor;
        transform: translateY(20px);
        pointer-events: none;

        &:before,
        &:after {
            width: 100%;
        }

        @media @mobile {
            transform: translateY(14px);
        }
    }
}

main {
    margin: 0 10px;
    overflow: hidden;

    @media @mobile {
        margin: 5px 0;
    }

    .projects-list {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 5px;
        margin: auto;
        border: 2px solid @app-basic-lightblue;

        @media @mobile {
            flex-wrap: wrap;
        }

        .project {
            width: 100%;
            position: relative;
            padding-bottom: 25%;
            margin: 5px;
            cursor: pointer;
            overflow: hidden;
            position: relative;

            @media @mobile {
                width: 50%;
                padding-bottom: 35%;
                margin: 1%;
            }

            @keyframes rotate {
                100% {
                    transform: rotate(1turn);
                }
            }

            &:before {
                content: '';
                position: absolute;
                z-index: -2;
                left: -50%;
                top: -50%;
                width: 200%;
                height: 200%;
                background-repeat: no-repeat;
                background-size: 50% 50%, 50% 50%;
                background-position: 0 0, 100% 0, 100% 100%, 0 100%;
                background-image: linear-gradient(@app-basic-lightblue, @app-basic-lightblue), linear-gradient(#000, #000), linear-gradient(@app-basic-lightblue, @app-basic-lightblue), linear-gradient(#000, #000);
                animation: rotate 16s linear infinite;
                pointer-events: none;
            }

            &:hover:before {
                background-size: 100%;
                animation-play-state: paused;
            }

            &:after {
                content: '';
                position: absolute;
                z-index: -1;
                left: 2px;
                top: 2px;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                background: @app-bg-gray;
                pointer-events: none;
            }

            &:hover:after {
                background: #2C3438;
                outline: 2px solid @app-basic-lightblue;
            }

            .project-content {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4em;

                @media @mobile {
                    font-size: 0.8em;
                }
            }
        }

        .running-project {
            width: 100%;
            height: 75vh;
        }
    }
}

footer {
    font-size: 0.9em;
    position: absolute;
    bottom: -30px;
    margin: 0;
    width: 100%;
}